<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>257660888115-shuj9tr1qkvb18rtp7c9aq5uvdv2d3nc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257660888115-shuj9tr1qkvb18rtp7c9aq5uvdv2d3nc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>257660888115-dk9tlkstbtepsp8lopiiu11gpb47tlpr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDP5DRy_J33txSAJhPotb3UkTEucRYY12c</string>
	<key>GCM_SENDER_ID</key>
	<string>257660888115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lt.getpet.getpet</string>
	<key>PROJECT_ID</key>
	<string>getpet-4ab27</string>
	<key>STORAGE_BUCKET</key>
	<string>getpet-4ab27.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257660888115:ios:40f38ec4475fa62d</string>
	<key>DATABASE_URL</key>
	<string>https://getpet-4ab27.firebaseio.com</string>
</dict>
</plist>